
Python 3
Django 5.0.4
HTML5
CSS
Django Rest Framework
REST API
django-filter
npm
nvm
Postgres DB
python3  manage.py makemigrations -  with new DB
python3  manage.py migrate

smisapp react - not used
node_modules - not used
